# Excess python files
*.py[cod]

#for declass
scripts/insert_config.yml

# IPython
notebooks/.ipynb_checkpoints/*

# for rope
**.ropeproject*

#ignore logs
*.log

#ignore other data
*.gz
# C extensions
*.so

# Packages
*.jar
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
__pycache__

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vi
*.swp

# General
tags

# Installation
MANIFEST

# virtualenv
env

# ignore changes to db credentials !!!
**credentials.yml

# ignore json files in the test/data/out directory
test/data/out/*.json*
